@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-background: #221A1A;
        --color-text: #D1C1C1;
        --color-secondary:  #ffffff;
        --color-background-highlight: #371414;
        height: 100%;
    }
   
}

body {
    @apply bg-background h-full
}
