@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-background:#1c0862 ;
        --color-text: #ffffff;
        --color-secondary: #d4b9fa;
        --color-background-highlight: #2d0763;
        height: 100%;
    }
   
}

body {
    @apply bg-background h-full
}
