.animateScrollContainer {
    @apply relative overflow-hidden;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 5%, rgb(0, 0, 0) 50%, rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0) 95%);
}


 @keyframes scroll {
    0% {
        transform: translateY(calc((0.5 * var(--scroll-container-height)) - var(--item-height, 152px) - 8px));
    }
    100% {
        transform: translateY(calc(-100% + var(--item-height, 152px) + (var(--scroll-container-height) * 0.5)));
    }
  } 

.animateScroll {
    @apply flex flex-col gap-2;
    animation: scroll 10s linear infinite;
}

